/*
LOGIN CSS
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cadastro{
    
        background: #004B2A;
        margin: 0;
        padding: 0;
        border: 0;

}
.cadastro .pagina{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cadastro .titulo{
    align-items: center;
    justify-content: center;
}
.cadastro .titulo p{
    display: flex;
    align-items: center ;
    justify-content: center;
    margin-bottom: 20px;
    width: 315px;
    height: 41px;
    border-radius: 12px;
    background: linear-gradient(0deg, #FFF 0%, #FFF 100%), #ABB48D;

}
.cadastro p{
    width: 352px;
    height: 33px;
    color: #004B2A;
    text-align: center;
    font-family: Poppins;
    font-size: 27px;
    font-weight: 600;
}
.cadastro .login p{
    display: flex;
    color: #004B2A;
    font-family: Jockey One;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    justify-content: center;
}
.cadastro .login{
    display: flex;
    align-items: center ;
    justify-content: center;
    width: 371px;
    height: 300px;
    border-radius: 12px;
    background: linear-gradient(0deg, #FFF 0%, #FFF 100%), #ABB48D;

}
.cadastro .form-login{
    /* height:inherit; */
    display: flex;

    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly;    */
}
.cadastro .form-login label{
    
    color: #012918;
    font-size: 20px;
    font-weight: 400;
    align-self: self-start;
    justify-self: flex-end;
    padding-left: 40px;
    margin:3% 0 ;
    
}
.cadastro input{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 80%;
    height: 32px;
    border-radius: 12px;
    background: linear-gradient(0deg, #D8D8D8 0%, #D8D8D8 100%), #ABB48D;
}
.cadastro a .btn{
    width: 116px;
    height: 28px;
    border-radius: 12px;
    background: linear-gradient(0deg, #318FE7 0%, #318FE7 100%), #ABB48D;
    display: flex;
    color: #DEFFF1;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    justify-content: center;
    text-decoration: none;
    
}
.cadastro a{
    color: #004B2A;
    text-align: center;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 300;
    text-decoration-line: underline;
    align-self: self-end;
    justify-self: self-start;
    padding-right: 40px;

}
/*
PADRÃO DAS PAGINAS
*/
header{
    background-color: #004B2A;
    width: 100%;
    height: 67px; 
}
.sair{
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    text-decoration-line:underline;
    display: flex;   
    float: right;
    padding-right: 20px;
}
/*
VISITAÇÃO
*/
.visitacao{
    display: block;
    padding-left: 30%;
    margin: 2%;
}
fieldset{
    display: block;
    height: 70%;
    margin: 2%;
}

/*
CAD*/
.cad-field{
    display: block;
    margin:0 30%;
    margin-top: 5%;
    padding: 1%;
    max-height: 40%;
    padding-left: 5%;
    /* min-width: 50%; */
    width: 40%;

}

.cad-field input[type='text']{
    width: 80%;
    margin:5px 0;
    
}
.cad-field label{
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    /* width: auto ; */
}
.cad-field p {
    font-size: 14px;
    margin-top: 10px;
}

/*
TIME
*/
.time-field{
    display: block;
    margin:0 10%;
    padding: 1%;
    max-height: 50%;
    padding-left: 10%;
}

.time-field input[type='text']{
    width: 25%;
    margin:5px 1px;
    
}
.time-field label{
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    width: auto ;
}
.time-field p {
    font-size: 14px;
    margin-top: 10px;
}

.justificativa{
    font-size: 11px;
}
legend{
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}
label{
    display: block;
    color: #000;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 500;

}
.visitacao input{
    border: 1px;
    border-radius: 3px;
    background: #DFDFDF;
    width: 60%;
    height: 40px;
    display: block;
    padding-left: 10px;
}
.line label{
    display: block;
    cursor: pointer;
}
.line input{
    width: 20%;
}
textarea{
    display: inline;
    flex-direction: row;
    background: #DFDFDF;
}
.voltar{
    display: flexbox;
    border-radius: 2px;
    background: #CE0000;
    width: 81px;
    height: 27px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600; 
    float: right; 
}
#n-post{
    border-radius: 3px;
    background: #3461D3;
    width: 143px;
    height: 38px;
    flex-shrink: 0;
    width: 143px;
    height: 38px;
    flex-shrink: 0;color: #FFF;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    display: inline-block;
}
table{
    height: 80%;
    width: 80%;
    margin-left: 10%;
    align-items: center;
    border: 1px solid green;
    border-collapse: collapse;
    text-align: center;

    

}
tr:nth-child(even) {
    background:lightgray;
}
th{
    background: #004B2A;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
}
input[type='file'] {
    display: none
}
.file label {
    border-radius: 5px;
    color: #042968;
    margin: 10px;
    padding: 6px 20px
}
.air-box{
   margin-left: 10%;
}
.btn-post{
    margin-left: 10%;

}
.logo img{
    width: 300px;
    display: block;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.logo{
    text-align: center;
}